RABBITMQ_URL=amqp://localhost:5672
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
MAIL_FROM=noreply@lynx.dev
EMAILS_EXCHANGE=emails
EMAILS_DLX=emails.dlx
EMAILS_QUEUE=emails.send
EMAILS_DLQ=emails.dlq
METRICS_PORT=9100
